
.vs/PRN221_SE1729_Group11_Project/FileContentIndex/98d186ea-7d76-4aab-9535-fb7ed6a74bf2.vsidx
.vs/PRN221_SE1729_Group11_Project/FileContentIndex/c28d82c8-f054-4c59-bcef-5f56a87e0128.vsidx
obj/Debug/net6.0-windows/MainWindow.g.i.cs
obj/Debug/net6.0-windows/PRN221_SE1729_Group11_Project.AssemblyInfo.cs
obj/Debug/net6.0-windows/PRN221_SE1729_Group11_Project.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/PRN221_SE1729_Group11_Project_MarkupCompile.i.cache
obj/Debug/net6.0-windows/PRN221_SE1729_Group11_Project_MarkupCompile.i.lref
.vs/PRN221_SE1729_Group11_Project/FileContentIndex/25b04294-dcfb-4242-8976-58d7b222c628.vsidx
.vs/PRN221_SE1729_Group11_Project/FileContentIndex/f376d4cd-e142-4623-8550-66c6832dd804.vsidx
obj/Debug/net6.0-windows/PRN221_SE1729_Group11_Project_MarkupCompile.i.cache
obj/Debug/net6.0-windows/PRN221_SE1729_Group11_Project.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/PRN221_SE1729_Group11_Project.AssemblyInfo.cs
/.vs/PRN221_SE1729_Group11_Project/FileContentIndex
/obj/Debug/net6.0-windows
/obj/Debug
